<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- costume css -->
  <link rel="stylesheet" href="/styles.css">
  <title>ENSAnews | Home</title>
</head>

<body>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <article>
    <div class="container ">
      <div class="row">
        <h2 class="col l12">
          <%= blog.title %>
        </h2>
        <div class="carousel carousel-slider center">
          <div class="carousel-fixed-item center">
            <a class="btn-floating btn-large waves-effect waves-light grey lighten-4 update-blog-cover tooltipped" data-position="top" data-tooltip="update cover"><i class="material-icons black-text">add</i></a>
          </div>
          <div class="carousel-item red white-text blogImage" style="background-image: url('../../../images/<%= blog.img %>'); background-repeat: no-repeat;
            background-size:100% 100%; " href="#one!">
            
          </div>
        </div>
        <div class="post-content ">
          <p class="bodyBlog">
            <%= blog.body %>
          </p>
      </div>
    </div>
      <!-- divider -->
      <div class="divider"></div>
    </div>
  </article>


  <!-- comments section -->
  <%- include('../partials/comments') %>



    <!-- add comments -->
    <%- include('../partials/commentForm') %>


      <footer class="page-footer grey darken-3">
        <%- include ('../partials/footer.ejs') %>
      </footer>
      <!-- jquey -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- sidenav and nav script  -->
      <script>
        $(document).ready(function () {
          $('.sidenav').sidenav();
          $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
          });
        });
      </script>
      <!--costume script  -->
</body>

</html>